

<div class="wrapper">

<div class="box-content">
	<% @courses.each do |c|  %>
	<%= link_to site_show_path(course_id: c) do %>
	<div class="box">
		<div class="image-c"><%= image_tag (c.image) %></div>  
		<div class="back-b">
			<div class="name-c"><%= c.title %></div>
			<div class="des-c"><%= truncate(c.description, length: 160) %></div>
		</div>
	</div>
	<% end %>
	<% end %>
	</div>

	<div class="box-side">
	</div>
</div>	